<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flower</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="container">
    <div class="card">
        <div class="img">
            <img src="joey-huang-VzIKITZA-N0-unsplash.jpg">
        </div>
        <div class="text">
            <h2>Imagem da Flor</h2>
        </div>
    </div>
</div>

<div class="ppreta">
    <div class="txt">
        <h1>Texto Aleatório</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, eius at ut id nemo, rerum sunt provident harum veritatis quibusdam sint eaque? Repellat unde facilis quibusdam dolor optio explicabo corporis.</p>
    </div>
</div>

<script src="script.js"></script>
</body>
</html>