<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - StoryLand</title>
</head>
<body>
    <h1>StoryLand</h1>

    <form action="/index" method="post" autocomplete="off">
        <p>
            <label for="email">Email: </label>
            <input type="email" name="email" id="email">
        </p>

        <p>
            <label for="password">Senha: </label>
            <input type="password" name="password" id="password">
        </p>

        <p>
            <input type="submit" value="Login">
        </p>
    </form>

    <p>Não tem uma conta? <a href="register.html">Registre-se</a></p>
</body>
</html>