<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book</title>
    <link rel="stylesheet" href="/book.css">
</head>
<body>
<div class="container">
    <div class="card">
        <div class="img">
            <img th:src="${book.imgUrl}" draggable="false">
        </div>
        <div class="text">
            <div class="rotate">
                <h2 class="titles" th:text="${book.title}"></h2>
            </div>
            <p th:text="${book.author}"></p>
        </div>
    </div>
</div>

<div class="ppreta">
    <div class="title">
        <div class="rotate">
            <h1 class="titles" th:text="${book.title}"></h1>
        </div>
        <h3 style="font-weight: 500;" th:text="${book.author}"></h3>
    </div>
    <div class="line"></div>
    <hr>
    <div class="description">
        <p th:text="${book.info}"></p>
    </div>
    <div class="line effect"></div>
    <hr>
    <div class="moreinfo">
        <div class="more">
            <div id="genre" th:text="${book.genre}"></div>
            <div id="pages" th:text="${book.numPags} + ' páginas'"></div>
        </div>
        <div id="value" th:text="'R$' + ${book.value}"></div>
    </div>
    <div class="line"></div>
    <hr>

    <div class="buttons">
        <button>
            <a class="inicio" href="/">Início</a>
        </button>
        <button>
            <a class="buy" href="#">COMPRAR</a>
        </button>
    </div>
</div>

<script>
    const title = document.querySelector(".title")

    if (title.innerHTML.length < 40) {
        title.classList.add("longtext")
    }
</script>

<script src="script.js"></script>
</body>
</html>