<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css">
    <title>StoryLand</title>
</head>

<body>
    <div class="banner">
        <div class="bgimg"></div>
        <nav>
            <div class="left">
                <div class="menu">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="feather feather-menu">
                        <line x1="3" y1="12" x2="21" y2="12"></line>
                        <line x1="3" y1="6" x2="21" y2="6"></line>
                        <line x1="3" y1="18" x2="21" y2="18"></line>
                    </svg>
                </div>
                <div class="logo">
                    <p>LOGO</p>
                </div>
            </div>

            <div class="right">
                <ul>
                    <li>
                        <input type="text" name="Busca" placeholder="Buscar">
                    </li>
                    <li>
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="feather feather-shopping-cart">
                            <circle cx="9" cy="21" r="1"></circle>
                            <circle cx="20" cy="21" r="1"></circle>
                            <path d="M1 1h4l2.68 13.39a2 2 0 0 0 2 1.61h9.72a2 2 0 0 0 2-1.61L23 6H6"></path>
                        </svg>
                    </li>
                    <li>
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="feather feather-user">
                            <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
                            <circle cx="12" cy="7" r="4"></circle>
                        </svg>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="title">
            <h1>StoryLand</h1>
            <h3>O verdadeiro poder de uma sociedade está em sua biblioteca.</h3>
        </div>
    </div>


    <div class="books">
        <div class="bookCollection">
            <h4>Destaques da Semana:</h4>
            <div class="container">
                <div class="btnp">
                    <button class="scroll"><img src="arrow-prev-small-svgrepo-com.svg" alt=""></button>
                </div>
                <div class="card" th:each="book : ${books}">
                    <img th:src="${book.imgUrl}" th:alt="${book.title}" th:attr="title=${book.title}" draggable="false">
                    <p class="info"><span th:text="${book.title}"></span> - <span th:text="${book.author}"></span></p>
                    <button>
                        <a class="infos" th:href="@{/livro/{id}(id=${book.id})}" th:text="${'R$' + book.value}"></a>
                    </button>
                </div>
                <div class="btnn">
                    <button class="scroll"><img src="arrow-next-small-svgrepo-com.svg" alt=""></button>
                </div>
            </div>
        </div>

        <div class="bookCollection" th:each="genre : ${genres}">
            <h4><span th:text="${genre.key}"></span>:</h4>
            <div class="container">
                <div class="btnp">
                    <button class="scroll"><img src="arrow-prev-small-svgrepo-com.svg" alt=""></button>
                </div>
                <div class="card" th:each="book : ${genre.value}">
                    <img th:src="${book.imgUrl}" th:alt="${book.title}" th:attr="title=${book.title}" draggable="false">
                    <p class="info"><span th:text="${book.title}"></span> - <span th:text="${book.author}"></span></p>

                    <button>
                        <a class="infos" th:href="@{/livro/{id}(id=${book.id})}" th:text="${'R$' + book.value}"></a>
                    </button>

                </div>
                <div class="btnn">
                    <button class="scroll"><img src="arrow-next-small-svgrepo-com.svg" alt=""></button>
                </div>
            </div>
        </div>
    </div>

    <script>
        var pos = document.documentElement;

        window.addEventListener('scroll', opa)

        function opa(e) {
            var opacity = window.scrollY / 500
            if (opacity > 1) {
                opacity = 1
            }

            pos.style.setProperty('--op', opacity)
        }

        const scrollNext = document.querySelectorAll(".btnn");
        const scrollPrev = document.querySelectorAll(".btnp");
        
        scrollNext.forEach(function(button) {
            button.addEventListener("click", () => {
                const container = button.closest(".container");
                
                container.scrollLeft += 900;
                if (container) {
                }
            })
        })

        scrollPrev.forEach(function(button) {
            button.addEventListener("click", () => {
                const container = button.closest(".container");
                
                container.scrollLeft -= 900;
                if (container) {
                }
            })
        })
    </script>
</body>

</html>