@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Rochester&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    cursor: default;
}

body {
    background: #E5E5E5;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

.banner {
    position: relative;
    background: #425b9e;
    height: 420px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #000000;
    box-shadow: 0 -20px 28px inset #00000066;
}

.bgimg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url(1691076101818.png), rgb(66, 91, 158);
    background-size: 426.6px;
    background-attachment: fixed;
    background-blend-mode: multiply;
    background-repeat: repeat;
    opacity: 0.28;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    padding: 0 56px;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgb(66, 91, 158, var(--op));
    z-index: 5;
}

.left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 18px;
}

.left p {
    margin-top: -4.5px;
    color: #fff;
    font-family: 'montserrat';
    font-size: 22px;
    font-weight: lighter;
}

.right>ul {
    width: 248px;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 30px;
}

ul>li {
    list-style: none;
}

input {
    width: 160px;
    height: 30px;
    background-color: #EFEFEF;
    border-radius: 6px;
    border: none;
    padding: 0 25px;
}

svg {
    color: #FFF;
}

.title {
    position: absolute;
    text-align: center;
    top: 142px;
}

.title h1 {
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 64px;
    letter-spacing: -1px;
    color: #fff;
    margin-bottom: 8px;
    text-shadow: 0 4px 24px #00000055;
}

.title h3 {
    font-family: 'Montserrat';
    font-size: 24px;
    letter-spacing: -0.5px;
    font-weight: 500;
}

.bookCollection {
    /* margin: -24px 0; */
    /* margin-left: -24px; */
    padding: 35px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    overflow: hidden;
    gap: 18px;
    position: relative;
}

/* .books {
    margin-top: -135px;
} */

.bookCollection > h4 {
    padding: 0 87px;
    font-family: 'montserrat';
    color: #000;
    font-size: 20px;
    font-weight: bold;
    z-index: 2;
    /* text-shadow: 2px 2px 2px #00000055; */
}

.container {
    padding: 0 87px;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 30px;
    overflow: scroll;
    scroll-behavior: smooth;
}

.btnn, .btnp {
    width: 100px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 35px;
    z-index: 3;
    border-radius: 0;
}

.btnn {
    background: linear-gradient(-90deg, #E5E5E5, #00000000);
    right: 0;
}

.btnp {
    background: linear-gradient(90deg, #E5E5E5, #00000000);
    left: 0;
}

/* button:hover {
    cursor: pointer;
} */

.infos {
    text-decoration: none;
    color: #fff;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
} 

.scroll {
    width: 100%;
    height: 100%;
    border: none;
    background: none;
}

/* .btnn button {
    width: 100px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(-90deg, #E5E5E5, #00000000);
    position: absolute;
    bottom: 53px;
    right: 0;
    z-index: 3;
    border-radius: 0;
}

.btnp button {
    width: 100px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, #E5E5E5, #00000000);
    position: absolute;
    bottom: 53px;
    left: 0;
    z-index: 3;
    border-radius: 0;
}
 */
/* .btnpp img {
    width: 35px;
    height: 35px;
    z-index: 5;
} */
.container::-webkit-scrollbar {
    height: 0;
    width: 0;
}

.card {
    padding: 18px 35px;
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 230px;
    height: 350px;
    background: #BBBBBB;
    border-radius: 6px;
    border: 1px solid #999999;
    box-shadow: 5px 5px 24px #00000055;
    overflow: hidden;
    z-index: 2;
}

.card img {
    height: 67%;
    border: 1px solid #222;
}

.info {
    font-family: sans-serif;
    font-weight: 600;
    width: 95%;
    height: 35px;
    overflow: hidden;
}


button {
    font-family: sans-serif;
    width: 80%;
    height: 38px;
    font-size: 1rem;
    background: rgb(66, 91, 158);
    border: none;
    border-radius: 7px;
    overflow: hidden;
    transition: all 0.2s;
}

button p {
    display: inline-block;
    transition: all 0.3s ease-in-out;
}

button:active {
    transform: scale(0.95);
}